body {
    background-image: url("../images/Image\ \(3\).jpg");
    background-color: #ffffff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


header {
    .back-home {
        color: #c5827b;
        margin-top: 4%;
        display: inline-block;
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
        font-size: 18px;
    }
 

    .title-services {
        text-align: left;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }

    .back-home:hover {
        transform: scale(1.1);
    }

    .jslog {
        color: #c5827b;
        font-size: 18px;
        padding-bottom: 0px;
        text-shadow: none;
        display: inline-block;
        /* Zorgt dat de margin werkt zoals verwacht bij inline-elementen */
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
        font-size: 24px;
    }

    .jslog:hover {
        transform: scale(1.1);
    }
    
}

/* Verborgen menu */
.menu {
background-color: rgba(112, 138, 102, 0.92);
}

.menu ul li a:hover {
color: #1d490b;
}


header {
.back-home {
    color: #c5827b;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    font-size: 18px;
}

.title-services {
    text-align: left;
    height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.back-home:hover {
    transform: scale(1.1);
}

}

/* Verborgen menu */
.menu {
    background-color: rgba(112, 138, 102, 0.92);
}

.menu ul li a:hover {
    color: #1d490b;
}

.container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.blok {

    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color:  #c5827b;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transition: transform 0.4s ease-in-out;
    color:rgba(57, 70, 52, 0.92);

    h2 {
        color: rgba(36, 48, 31, 0.92);
    }

    p {
        text-align: left;
    }

    li {
        text-align: left;
    }

}

.blok:hover {
    transform: scale(1.02);
}

.blok a:is(:hover, :focus-visible) {
    outline: none;
    background-position: bottom;
    color: #ffffff;
    border: 2px solid #708A66;
}

/* Verberg het nieuwe blok standaard */
.hidden-block {
    display: none;
}

/* Toon het nieuwe blok wanneer het target is */
#new-block:target {
    display: block;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .blok {
        flex-basis: 80%;
        /* Zorgt ervoor dat de blokken onder elkaar worden geplaatst op kleinere schermen */
    }
}

footer {
    color: #c5827b;
    padding-right: 50px;
    text-align: right;
    font-size: 18px;
    padding-bottom: 2%;
}




    /*
    .contact-section-left {
        border: 1px solid;
        border-radius: 20px;
        background-color: #c5827b;
        color: rgba(57, 70, 52, 0.92);
        padding: 20px;
        min-width: 18em;

        @media (min-width: 1024px) {
            min-height: 30em;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #c5827b;
        padding-bottom: 20px;

        .form-group {
            position: relative;
            margin-bottom: 20px;
        }

        input[type="text"]{
            width: 100%;
            padding: 8px 5px;
            border: none;
            border-bottom: 2px solid #000000;
            background: none;
            color: rgba(57, 70, 52, 0.92);
            padding-bottom: 20px;

            @media (min-width: 1024px){
                padding-bottom: 15px;
            }
        }
    
        input:focus {
            /* border-bottom-color: white; */
            /*
            outline: none;
        }

        label {
            position: absolute;
            top: 8px;
            left: 5px;
            font-size: 16px;
            color: rgba(57, 70, 52, 0.92);
            pointer-events: none;
            transition: 0.3s;
        }
    
        input:focus+label,
        input:not(:placeholder-shown)+label {
            top: -10px;
            font-size: 12px;
        }
    }

    .contact-form-checkbox {
        padding-bottom: 20px;

        fieldset {
            border: 1px solid rgba(57, 70, 52, 0.92);

            @media (min-width: 1024px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 20px;
                align-items: center;
                border: none;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        @media (min-width: 1024px) {
            width: 30em;
        }

    }

    .contact-form-button {
        border: 1px solid rgba(57, 70, 52, 0.92);
        border-radius: 20px;
        height: 2em;
        width: 11em;
        text-align: center;
        align-content: center;
        background-color:rgba(57, 70, 52, 0.92);

        a {
            text-decoration: none;
            color: #c5827b;
        }
    }

    .contact-section-right {
        border: 1px solid rgba(57, 70, 52, 0.92);
        border-radius: 20px;
        padding: 20px;
        color: rgba(57, 70, 52, 0.92);
        background-color: white;
        min-width: 18em;

        @media (min-width: 1024px) {
            height: 30em; 
        }
    }
    /*