body {
    min-height: 100vh;
    background-color: #8d3127;
    background-image:
        linear-gradient(
            to bottom,
            rgba(141, 49, 39, 0.00) 0%,
            rgba(141, 49, 39, 0.2) 20%,
            rgba(141, 49, 39, 1) 30%,
            rgba(141, 49, 39, 1) 90%
        ),
        url("../Pictures/lyingdown.jpg");
    background-position: 100% 15%, top center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% auto;
}

header {
    color: rgba(255, 254, 254, 0.85);
    font-size: 7.5vw;

    .title {
        text-align: left;
        min-height: 45vh;
        background: none;
    }

    .profession {
        color: #580b02;
        font-size: 28px;
        line-height: 1.6;
        text-align: right;
        text-shadow: none;
    }

}