body {
    background-image: url("../images/Image\ \(7\).jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Verborgen menu */
.menu {
    background-color: rgba(112, 138, 102, 0.92);
}

.menu ul li a:hover {
    color: #1d490b;
}


header {
    .back-home {
        color: #c5827b;

        display: inline-block;
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
        font-size: 18px;
    }

    .title-services {
        text-align: left;
        height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }

    .back-home:hover {
        transform: scale(1.1);
    }

    .jslog {
        color: #c5827b;
        font-size: 18px;
        padding-bottom: 0px;
        text-shadow: none;
        display: inline-block;
        /* Zorgt dat de margin werkt zoals verwacht bij inline-elementen */
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
        font-size: 24px;
    }

    .jslog:hover {
        transform: scale(1.1);
    }
    
}

/* Layout voor tekst en afbeelding naast elkaar */
.container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px;
    padding-top: 100px;
}

.blok {
    flex: 1 1 25%;
    /* Zorgt ervoor dat de blokken naast elkaar staan en schalen */
    margin: 10px;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #c5827b;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    color:rgba(57, 70, 52, 0.92);

    h2 {
        color: rgba(36, 48, 31, 0.92);
    }

    p {
        text-align: left;
    }

    li {
        text-align: left;
    }

    a {
        transition-duration: .4s;
        color: #e3a9a2;
        text-align: right;
        justify-content: right;
        /* Voeg verticale ruimte tussen de knoppen toe */
        text-decoration: none;
        display: inline-block;
        /* Zorg dat de knoppen netjes onder elkaar staan */
    }
}

.blok:hover {
    transform: scale(1.02);
}

.blok a:is(:hover, :focus-visible) {
    outline: none;
    color: #ffffff;
}

/* Verberg het nieuwe blok standaard */
.hidden-block {
    display: none;
}

/* Toon het nieuwe blok wanneer het target is */
#new-block:target {
    display: block;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .blok {
        flex-basis: 100%;
        /* Zorgt ervoor dat de blokken onder elkaar worden geplaatst op kleinere schermen */
    }
}

footer {
    color: #c5827b;
    padding-right: 50px;
    text-align: right;
    font-size: 18px;
}