body {
    font-family: "Inter", arial, sans-serif;
    margin: 0 auto;
    background-color: rgba(57, 70, 52, 0.92);
    padding-top: 0px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
    color: #c5827b;
    line-height: 1;
    /* Unvisited link */
a:link {
    color: #e3a9a2;
    transition-duration: .4s;
    text-align: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    }
    
    /* Visited link */
    a:visited {
    color: #a86861;
    }
    a:is(:hover, :focus-visible) {
        outline: none;
        color: #ffffff;
    }
}

header {
    color: rgba(112, 138, 102, 0.85);
    font-size:7.5vw;

    .title {
        text-align: left;
        height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }

    .profession {
        color: rgba(57, 70, 52, 0.92);
        font-size: 0.5em;
        line-height: 1.6;
        text-align: right;
        text-shadow: none;
        padding-right: 1em;
    }
    .professionindex {
        color: rgba(255, 255, 255, 0.92);
        font-size: 0.5em;
        line-height: 1.6;
        text-align: right;
        text-shadow: none;
        padding-right: 1em;
    }

}
.rateslist{
    list-style-type: none; 
    text-align: center;
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 40px;
    color: #ffffff;
    /* text-shadow: 3px -1px 2px #708A66; */
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* Zorg dat het menu-icon bovenop de video staat */
}

/* Verborgen menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 138, 102, 0.92);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    /* Onder het hamburger-menu */
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        text-decoration: none;
        color: #c5827b;
        font-size: calc(1rem + 8vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #1d490b;
}


.about-me-block {
    margin: 0;
    max-width: 80%;
    text-align: left;
    font-size: calc(1rem + 6vw);
}

.socials-block {
    max-width: 80%;

    h2 {
        font-size: calc(1rem + 6vw);
    }
}

footer {
    color: c5827b;
    padding-right: 50px;
    text-align: right;
    font-size: 16px;
}